<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ConnectU{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav id="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <!--<a href="{{ url_for('inbox') }}">Inbox</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        Add more links as needed -->
    </nav>
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
